Web-Services-and-Cloud/06. Windows-Communication-Foundation/WCF/DayOfTheWeek.ConsoleClient/Service References/ServiceReference1/DayOfTheWeekService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDayOfTheWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayOfTheWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDayOfTheWeekResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>